.sidenav {
    background-color: #023047;
    margin: 0;
    top: 64px;
    color: white;
    border-radius: 0;
    z-index: 100 !important;
    overflow: hidden;
}
body {
    /* overflow: hidden; */
}
.g-sidenav-show {
    padding: 0;
}
.main-content {
    overflow: hidden;
    position: relative;
    top: 66px;
    border-radius: 0;
    left: -px;
    height: 100vh !important;
    height: calc(100vh - 70px) !important;
}