

<br>
<br>

<h1>Evolution des inscrits </h1>
<div class="container">
  <div class="simple-bar-chart">

  <div class="item" style="--clr: #023458; --val: 80">
    <div class="label">Avril</div>
    <div class="value">80%</div>
  </div>

  <div class="item" style="--clr: #6a6a6a; --val: 50">
    <div class="label">Mai</div>
    <div class="value">50%</div>
  </div>

  <div class="item" style="--clr: #fb8500; --val: 100">
    <div class="label">Juin</div>
    <div class="value">100%</div>
  </div>

  <div class="item" style="--clr: #f7e700; --val: 15">
    <div class="label">Juillet</div>
    <div class="value">25%</div>
  </div>

  <div class="item" style="--clr: #5f3660; --val: 1">
    <div class="label">Août</div>
    <div class="value">3%</div>
  </div>

  <div class="item" style="--clr: #81330b; --val: 90">
    <div class="label">Septembre</div>
    <div class="value">90%</div>
  </div>
</div>
</div>


<br><br>
<br><br>
<div class="croissance">
  <div class="crx1">
        <p>
          <i class='bx bx-line-chart'></i>&nbsp;&nbsp;&nbsp;&nbsp; <span class="doree">+</span> 53
        </p>
      </div>



  <div class="crx2">
        <p>
          <i class='bx bx-line-chart'></i>&nbsp;&nbsp;&nbsp;&nbsp; <span class="doree">+</span> 07
        </p>
      </div>


