<!-- End Navbar -->
<div class="users container-fluid py-4">
    <div class="user-box row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Liste des utilisateurs</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Nom/Prenom</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Email</th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Téléphone</th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Actions</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3"
                                                    alt="user1">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">André demba ndione</h6>
                                                <p class="text-xs text-secondary mb-0"></p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">Demba@gmail.com</p>
                                        <!-- <p class="text-xs text-secondary mb-0">Organization</p> -->
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-success">775487625</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a type="button" class="btnn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                          Editer
                                        </a>
                                    </td>

                                    <!-- ----------------------------------- -->

                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="../assets/img/team-3.jpg" class="avatar avatar-sm me-3"
                                                    alt="user2">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">Fatou mamadou sow</h6>
                                                <p class="text-xs text-secondary mb-0"></p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">fatou@gmail.com</p>
                                        <p class="text-xs text-secondary mb-0"></p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-secondary">785462358</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a type="button" class="btnn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                          Editer
                                        </a>
                                    </td>

                                </tr>
                                <tr>

                                  <!-- -------------------- -->

                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="../assets/img/team-4.jpg" class="avatar avatar-sm me-3"
                                                    alt="user3">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">Libasse nd cisse</h6>
                                                <p class="text-xs text-secondary mb-0"></p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">libasse@gmail.com</p>
                                        <p class="text-xs text-secondary mb-0"></p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-success">771465823</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a type="button" class="btnn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                          Editer
                                        </a>
                                    </td>

                                    <!-- -------------------------- -->

                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="../assets/img/team-3.jpg" class="avatar avatar-sm me-3"
                                                    alt="user4">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">Dieynaba sene</h6>
                                                <p class="text-xs text-secondary mb-0"></p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">diey@gmail.com</p>
                                        <p class="text-xs text-secondary mb-0"></p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-success">784521358</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a type="button" class="btnn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                          Editer
                                        </a>
                                    </td>
                                </tr>

                                <!-- ----------------------- -->

                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3"
                                                    alt="user5">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">Thierno habib</h6>
                                                <p class="text-xs text-secondary mb-0"></p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">habib@gmail.com</p>
                                        <p class="text-xs text-secondary mb-0"></p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-secondary">701254879</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a type="button" class="btnn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                          Editer
                                        </a>
                                    </td>
                                </tr>

                                <!-- ------------------------- -->


                            </tbody>
                        </table>

                        <!-- Button trigger modal -->


                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog  modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Détail</h1>
                              </div>
                              <div class="modal-body">
                               <div class="modif">
                                <div class="modif1">
                                  <img src="" alt="">
                                </div>
                                <div class="modif2">
                                  <h3>André demba ndione </h3>
                                </div>
                               </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Enregistrer</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
