.btnn
{
  background-color: #fb8500;
  color: white !important;
  padding: 3px 10px;
  border-radius: 5px;
}

.modal-header{
  display: flex;
  justify-content: center;
  background-color: #023047;

}
.modal-header h1{
  color: white !important;
}
